@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/free-mode';
@import 'swiper/css/navigation';



/* @custom-variant dark (&:where(.dark, .dark *)); */
@theme {
    --color-nav-background: var(--navbackground) ;
    --color-nav-text : var(--navtext) ;
    --color-body-background : var(--bodybackground) ;
    --color-body-text : var(--bodytext) ;
    --color-footer-background : var(--footerbackground) ;
    --color-footer-text: var(--footertext);
    --color-sidebar-background : var(--sidebarbackground);
    --color-userIcon-text : var(--userIcon);
}

@layer utilities {
  .bg-hero-background {
    background: var(--herobackground);
  }
}

:root{
    --navbackground : #fff;
    --navtext : #000 ;
    --bodybackground : #fff ;
    --bodytext : #000;
    --footerbackground : #f1f5f9  ;
    --footertext : #000;
    --herobackground : linear-gradient(to right, #3b82f6, #9333ea);
    --sidebarbackground : #1e2939 ;
    --userIcon : #000;

}

.dark{
    --navbackground : #1e2129 ;
    --navtext : #ff6900;
    --bodybackground : #1e2129 ;
    --bodytext : #fff ;
    --footerbackground : #1e2129  ;
    --footertext : #fff;
    --herobackground: rgb(0, 0, 0);
    --cardborder : #fff;
    --sidebarbackground : oklch(64.6% 0.222 41.116);
    --userIcon :  oklch(83.7% 0.128 66.29) ;
}

